body {
  padding: 0;
  margin: 0;
}

.bg-image {
  width: device-width;
  height: 400px;
  background:no-repeat center top;
}

h2 {
  text-align: center;
  font-family: 'Open Sans', verdana, arial, sans-serif;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 400px;
  width: 100%;
}

.bg-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-white {
  font-family: 'Open Sans', verdana, arial, sans-serif;
}

.title {
  font-family: 'Open Sans', verdana, arial, sans-serif;
}

.description {
  font-family: 'Open Sans', verdana, arial, sans-serif;
}

.btn:hover {
  filter: grayscale(0%) brightness(1.5);
}

.icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.hover-overlay:hover {
  background: linear-gradient(
    45deg,
    hsla(168, 85%, 52%, 0.5),
    hsla(263, 88%, 45%, 0.5) 100%
  );
}

#map {
  margin-bottom: 15px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}